.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rapp.history
*.Rproj

/*.tar.gz
/*.Rcheck/

/Meta/

/doc/*.html
/doc/*.pdf
/doc/*.Rmd
/doc/pt1_introduction.R
/doc/pt2_movement_patterns.R
/doc/pt3_space_use_patterns.R
/doc/pt4_intraspecific_movements.R

*-Ex.R

/vignettes/*.html
/vignettes/*.pdf

.httr-oauth
*_cache/
/cache/

.utf8.md
*.utf8.md
*.knit.md

.Renviron
.DS_Store
.positai
